In [41]:
import pandas as pd
import numpy as np

# Creating an Empty Series

In [42]:
empty_series = pd.Series()
print(empty_series)

Series([], dtype: object)

# Creating a Series from a list

In [43]:
list_data = ["sadat", 10, -3, 4.5, 5j]
series_from_list = pd.Series(list_data)
print(series_from_list)

0    sadat
1       10
2       -3
3      4.5
4       5j
dtype: object

In [9]:
print(series_from_list.values)
print(series_from_list.index)

['sadat' 10 -3 4.5 5j]
RangeIndex(start=0, stop=5, step=1)

# Creating a Series with Index/Labels

In [10]:
# Creating a Series with custom index
custom_index = ['Name', 'Age', 'Score', 'Pi', 'Complex']
series_with_index = pd.Series(list_data, index=custom_index)
print(series_with_index)

Name       sadat
Age           10
Score         -3
Pi           4.5
Complex       5j
dtype: object

# Creating a Series from a Dictionary

In [11]:
dict_data = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
series_from_dict = pd.Series(dict_data)
print(series_from_dict)

a    1
b    2
c    3
d    4
e    5
dtype: int64

# Selecting  Elements in a Series

In [20]:
# Selecting elements by index label
print(series_from_dict['a'])
print('---------------------------')
# Selecting elements by numerical position
print(series_from_dict.iloc[4])

1
---------------------------
5

# Slicing a Series

In [46]:
# Slicing with index labels
print(series_from_dict[['a', 'c']])
print('---------------------------')
# Slicing with position numbers
print(series_from_list[1:4])
print('---------------------------')
print(series_from_list)

a    100
c      3
dtype: int64
---------------------------
1     10
2     -3
3    4.5
dtype: object
---------------------------
0    sadat
1       10
2       -3
3      4.5
4       5j
dtype: object

# Updating Element Values

In [26]:
# Updating element by index
series_from_dict['a'] = 100
series_from_dict.iloc[4] = -500

print(series_from_dict)

a    100
b      2
c      3
d      4
e   -500
dtype: int64

# Series Arithmetic Operations

In [28]:
# Arithmetic operations on a Series
numeric_series = pd.Series([5, 10, 15, 20])
print(numeric_series)
print('---------------------------')
result = numeric_series / 5
print(result)

0     5
1    10
2    15
3    20
dtype: int64
---------------------------
0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

# Mathematical Operations Between Series

In [47]:
# Adding two Series
series1 = pd.Series([1, 2, 3])
series2 = pd.Series([4, 5, 6,9])
result = series1 + series2
print(result)

0    5.0
1    7.0
2    9.0
3    NaN
dtype: float64

# Handling NaN Values

In [49]:
# Handling NaN values
series_with_nan = pd.Series([1, None, 3, None, 5])
print(series_with_nan)
print('---------------------------')
# To check for NaN values , we can use isnull or notnull
# print(series_with_nan.isnull())
print(series_with_nan.notnull())

0    1.0
1    NaN
2    3.0
3    NaN
4    5.0
dtype: float64
---------------------------
0     True
1    False
2     True
3    False
4     True
dtype: bool

# Filtering a Series

In [50]:
# Filtering NaN values
filtered_series = series_with_nan[series_with_nan.notnull()]
print(filtered_series)
print('---------------------------')
# You can also filter based on numeric conditions:
# Filtering values greater than 3
print(series_with_nan[series_with_nan > 3])

0    1.0
2    3.0
4    5.0
dtype: float64
---------------------------
4    5.0
dtype: float64

# Check for Unique Values

In [51]:
# Unique values in a Series
print(series_from_list.unique())
print('---------------------------')
# Count occurrences of unique values
print(series_from_list.value_counts())

['sadat' 10 -3 4.5 5j]
---------------------------
sadat    1
10       1
-3       1
4.5      1
5j       1
Name: count, dtype: int64

# Check for Membership in a Series

In [39]:
# Check for membership
print(series_from_list.isin([10, 3.14]))

0    False
1     True
2    False
3    False
4    False
dtype: bool