In [27]:
import pandas as pd

# Create a Dataframe from a Dictionary

In [28]:
data = {
    'Date': ['05/06/2024', '05/06/2024', '05/06/2024', '05/06/2024', '06/08/2024'],
    'Route_Direction': ['In-Run', 'In-Run', 'Outrun', 'Outrun', 'In-Run'],
    'Mode_of_Transport': ['Trotro', 'Trotro', 'Trotro', 'Trotro', 'Trotro'],
    'Segment': ['Full Route', 'Shangrila to Airport 2nd', 'Full Route', 'Airport 2nd to Shangrila', 'Full Route'],
    'Start_Time': ['07:29 AM', '07:41 AM', '04:46 PM', '04:49 PM', '07:56 AM'],
    'Stop_Time': ['08:19 AM', '07:50 AM', '05:03 PM', '04:53 PM', '08:50 AM'],
    'Duration': ['49:25.73', '05:31', '17:56.45', '03:41.51', '54:19.52']
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
df

,Date,Route_Direction,Mode_of_Transport,Segment,Start_Time,Stop_Time,Duration
0,05/06/2024,In-Run,Trotro,Full Route,07:29 AM,08:19 AM,49:25.73
1,05/06/2024,In-Run,Trotro,Shangrila to Airport 2nd,07:41 AM,07:50 AM,05:31
2,05/06/2024,Outrun,Trotro,Full Route,04:46 PM,05:03 PM,17:56.45
3,05/06/2024,Outrun,Trotro,Airport 2nd to Shangrila,04:49 PM,04:53 PM,03:41.51
4,06/08/2024,In-Run,Trotro,Full Route,07:56 AM,08:50 AM,54:19.52

# Creating Dataframe from a List of Dictionary

In [34]:
data = [
    {'Date':'05/06/2024','Route_Direction':'In-Run' ,'Mode_of_Transport':'Trotro' ,'Segment':
     'Full Route' ,'Start_Time':'07:29 AM' ,'Stop_Time': '08:19 AM' ,'Duration': '49:25.73' },
    
    {'Date':'05/06/2024','Route_Direction':'In-Run' ,'Mode_of_Transport':'Trotro' ,'Segment':
     'Shangrila to Airport 2nd' ,'Start_Time': '07:41 AM' ,'Stop_Time':'07:50 AM'  ,'Duration': '05:31' },
    
    {'Date': '05/06/2024','Route_Direction':'Outrun' ,'Mode_of_Transport':'Trotro' ,'Segment':
     'Full Route' ,'Start_Time': '04:46 PM' ,'Stop_Time': '05:03 PM' ,'Duration': '17:56.45'},
    
    {'Date': '05/06/2024','Route_Direction': 'Outrun' ,'Mode_of_Transport':'Trotro' ,'Segment':
     'Airport 2nd to Shangrila' ,'Start_Time': '04:49 PM' ,'Stop_Time':'04:53 PM' ,'Duration':'03:41.51'  },
    
    {'Date': '06/08/2024','Route_Direction':'In-Run' ,'Mode_of_Transport':'Trotro' ,'Segment':
     'Full Route' ,'Start_Time': '07:56 AM' ,'Stop_Time':'08:50 AM'  ,'Duration': '54:19.52'},
]

# Convert to DataFrame
df = pd.DataFrame(data)


# Display the DataFrame
df

,Date,Route_Direction,Mode_of_Transport,Segment,Start_Time,Stop_Time,Duration
0,05/06/2024,In-Run,Trotro,Full Route,07:29 AM,08:19 AM,49:25.73
1,05/06/2024,In-Run,Trotro,Shangrila to Airport 2nd,07:41 AM,07:50 AM,05:31
2,05/06/2024,Outrun,Trotro,Full Route,04:46 PM,05:03 PM,17:56.45
3,05/06/2024,Outrun,Trotro,Airport 2nd to Shangrila,04:49 PM,04:53 PM,03:41.51
4,06/08/2024,In-Run,Trotro,Full Route,07:56 AM,08:50 AM,54:19.52

# Creating a Series from a list of Lists

In [40]:
data = [
    ['05/06/2024','In-Run' ,'Trotro' ,'Full Route' ,'07:29 AM' ,'08:19 AM' , '49:25.73'],
    ['05/06/2024','In-Run' ,'Trotro' ,'Shangrila to Airport 2nd' , '07:41 AM' ,'07:50 AM'  , '05:31'],
]

# Convert to DataFrame
df = pd.DataFrame(data, columns=['Date','Route_Direction','Mode_of_Transport','Segment','Start_Time','Stop_Time','Duration'])

# Display the DataFrame
df

,Date,Route_Direction,Mode_of_Transport,Segment,Start_Time,Stop_Time,Duration
0,05/06/2024,In-Run,Trotro,Full Route,07:29 AM,08:19 AM,49:25.73
1,05/06/2024,In-Run,Trotro,Shangrila to Airport 2nd,07:41 AM,07:50 AM,05:31

# Creating Dataframe from multiple Series

In [31]:

date = pd.Series(['05/06/2024', '05/06/2024', '05/06/2024', '05/06/2024', '06/08/2024']) 
route = pd.Series(['In-Run', 'In-Run', 'Outrun', 'Outrun', 'In-Run'])
mode_of_transport = pd.Series(['Trotro', 'Trotro', 'Trotro', 'Trotro', 'Trotro'])
segment = pd.Series(['Full Route', 'Shangrila to Airport 2nd', 'Full Route', 'Airport 2nd to Shangrila', 'Full Route'])
start_time = pd.Series(['07:29 AM', '07:41 AM', '04:46 PM', '04:49 PM', '07:56 AM'])
stop_time = pd.Series(['08:19 AM', '07:50 AM', '05:03 PM', '04:53 PM', '08:50 AM'])
duration = pd.Series( ['49:25.73', '05:31', '17:56.45', '03:41.51', '54:19.52'])

df = pd.concat({'Date':date, 'Route_Direction':route,"Mode_of_Transport":mode_of_transport,
                "Segment":segment, "Start_Time":start_time,"Stop_Time":stop_time,"Duration":duration }, axis=1)


df

,Date,Route_Direction,Mode_of_Transport,Segment,Start_Time,Stop_Time,Duration
0,05/06/2024,In-Run,Trotro,Full Route,07:29 AM,08:19 AM,49:25.73
1,05/06/2024,In-Run,Trotro,Shangrila to Airport 2nd,07:41 AM,07:50 AM,05:31
2,05/06/2024,Outrun,Trotro,Full Route,04:46 PM,05:03 PM,17:56.45
3,05/06/2024,Outrun,Trotro,Airport 2nd to Shangrila,04:49 PM,04:53 PM,03:41.51
4,06/08/2024,In-Run,Trotro,Full Route,07:56 AM,08:50 AM,54:19.52

# Creating Dataframe from a csv file

In [42]:
df = pd.read_csv('data.csv')
df

,Date,Route_Direction,Mode_of_Transport,Segment,Start_Time,Stop_Time,Duration
0,05/06/2024,In-Run,Trotro,Full Route,07:29 AM,08:19 AM,49:25.73
1,05/06/2024,In-Run,Trotro,Shangrila to Airport 2nd,07:41 AM,07:50 AM,05:31
2,05/06/2024,Outrun,Trotro,Full Route,04:46 PM,05:03 PM,17:56.45
3,05/06/2024,Outrun,Trotro,Airport 2nd to Shangrila,04:49 PM,04:53 PM,03:41.51
4,06/08/2024,In-Run,Trotro,Full Route,07:56 AM,08:50 AM,54:19.52
5,06/08/2024,In-Run,Trotro,Shangrila to Airport 2nd,08:33 AM,08:40 AM,07:00
6,07/08/2024,In-Run,Trotro,Full Route,07:36 AM,08:23 AM,46:31.59
7,07/08/2024,In-Run,Trotro,Shangrila to Airport 2nd,08:07 AM,08:15 AM,07:46.07
8,07/08/2024,Outrun,Motorbike,Full Route,06:04 PM,06:21 PM,21:01.15
9,07/08/2024,Outrun,Motorbike,Airport 2nd to Shangrila,06:07 PM,06:17 PM,05:44
10,08/08/2024,In-Run,Trotro,Full Route,09:49 AM,10:10 AM,21:04
11,08/08/2024,In-Run,Trotro,Shangrila to Airport 2nd,10:02 AM,10:06 AM,04:23
12,08/08/2024,Outrun,Trotro,Full Route,05:36 PM,06:31 PM,54:46.54
13,08/08/2024,Outrun,Trotro,Airport 2nd to Shangrila,06:04 PM,06:09 PM,05:08
14,09/08/2024,In-Run,Trotro,Full Route,07:41 AM,08:07 AM,24:04.87
15,09/08/2024,In-Run,Trotro,Shangrila to Airport 2nd,07:53 AM,07:56 AM,04:04
16,09/08/2024,Outrun,Trotro,Full Route,05:18 PM,06:02 PM,43:08.08
17,09/08/2024,Outrun,Trotro,Airport 2nd to Shangrila,06:21 PM,06:25 PM,04:11
18,10/08/2024,In-Run,Trotro,Full Route,10:25 AM,10:47 AM,21:29.47
19,10/08/2024,In-Run,Trotro,Shangrila to Airport 2nd,10:39 AM,10:42 AM,03:00
20,10/08/2024,Outrun,Motorbike,Full Route,04:56 PM,05:11 PM,15:20.53
21,10/08/2024,Outrun,Motorbike,Airport 2nd to Shangrila,04:57 PM,05:01 PM,04:00
22,26/08/2024,In-Run,Car (private),Full Route,07:50 AM,08:18 AM,26:52
23,26/08/2024,In-Run,Car (private),Shangrila to Airport 2nd,08:09 AM,08:13 AM,04:00
24,26/08/2024,Outrun,Motorcycle,Full Route,05:16 PM,06:01 PM,21:01.15
25,26/08/2024,Outrun,Motorcycle,Airport 2nd to Shangrila,06:07 PM,06:12 PM,05:44
26,27/08/2024,In-Run,Car (private),Full Route,07:24 AM,07:53 AM,28:44.95
27,27/08/2024,In-Run,Car (private),Shangrila to Airport 2nd,07:42 AM,07:44 AM,02:58
28,27/08/2024,Outrun,Motorbike,Full Route,06:04 PM,06:21 PM,21:01.15
29,27/08/2024,Outrun,Motorbike,Airport 2nd to Shangrila,06:07 PM,06:17 PM,05:44
30,28/08/2024,In-Run,Car (private),Full Route,07:44 AM,08:15 AM,30:04.90
31,28/08/2024,In-Run,Car (private),Shangrila to Airport 2nd,07:59 AM,08:02 AM,02:21.94
32,28/08/2024,Outrun,Motorcycle,Full Route,05:30 PM,05:44 PM,14:48.03
33,28/08/2024,Outrun,Motorcycle,Airport 2nd to Shangrila,05:34 PM,05:36 PM,01:31
34,28/08/2024,Outrun,Motorcycle,Shiahsie Traffic Stop,05:37 PM,05:37 PM,00:41.71
35,28/08/2024,Outrun,Motorcycle,UPSA Traffic Stop,05:38 PM,05:39 PM,01:01
36,29/08/2024,In-Run,Car (private),Full Route,07:50 AM,08:06 AM,15:51.84
37,29/08/2024,In-Run,Car (private),Shangrila to Airport 2nd,08:00 AM,08:02 AM,02:21.34
38,29/08/2024,Outrun,Motorbike,Full Route,06:04 PM,06:21 PM,21:01.15
39,29/08/2024,Outrun,Motorbike,Airport 2nd to Shangrila,06:07 PM,06:10 PM,03:00
40,30/08/2024,In-Run,Car (private),Full Route,07:10 AM,07:31 AM,21:33.28
41,30/08/2024,In-Run,Car (private),Shangrila to Airport 2nd,NaN,NaN,03:36
42,30/08/2024,Outrun,Motorcycle,Full Route,05:14 PM,05:29 PM,14:48.03
43,30/08/2024,Outrun,Motorcycle,Airport 2nd to Shangrila,05:18 PM,05:19 PM,02:00
44,30/08/2024,Outrun,Motorcycle,Shiahsie Traffic Stop,05:20 PM,05:20 PM,00:51.36
45,30/08/2024,Outrun,Motorcycle,Okponglo Traffic Stop,05:21 PM,05:21 PM,00:30
46,31/08/2024,In-Run,Car (private),Full Route,07:55 AM,08:11 AM,15:50.57
47,31/08/2024,In-Run,Car (private),Shangrila to Airport 2nd,08:05 AM,08:07 AM,02:00
48,31/08/2024,Outrun,Motorcycle,Full Route,05:31 PM,05:48 PM,17:33.28
49,31/08/2024,Outrun,Motorcycle,Shangrila to Airport 2nd,05:38 PM,05:41 PM,03:36

# Viewing Data

In [48]:
# View the first 5 rows
df.head()

# View the last 5 rows
# df.tail()

# Specify the number of rows to display
# df.head(10)
# df.tail(8)

,Date,Route_Direction,Mode_of_Transport,Segment,Start_Time,Stop_Time,Duration
0,05/06/2024,In-Run,Trotro,Full Route,07:29 AM,08:19 AM,49:25.73
1,05/06/2024,In-Run,Trotro,Shangrila to Airport 2nd,07:41 AM,07:50 AM,05:31
2,05/06/2024,Outrun,Trotro,Full Route,04:46 PM,05:03 PM,17:56.45
3,05/06/2024,Outrun,Trotro,Airport 2nd to Shangrila,04:49 PM,04:53 PM,03:41.51
4,06/08/2024,In-Run,Trotro,Full Route,07:56 AM,08:50 AM,54:19.52

# Retrieving DataFrame Labels and Data Types

In [56]:
# Get row labels
df.index

# Get column labels
# df.columns

# Get both row and column labels
# df.axes

# Check data types of each column
# df.dtypes

# Summary of the DataFrame
# df.info()

RangeIndex(start=0, stop=50, step=1)

# Modifying Column Data Types

In [67]:
# Convert using astype method
# Convert to category type
df = df.astype({
    'Route_Direction': 'category',
    'Mode_of_Transport': 'category',
    'Segment': 'category'
})

# Convert Date to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

# Convert Start_Time and Stop_Time to datetime
df['Start_Time'] = pd.to_datetime(df['Start_Time'], format='%I:%M %p')
df['Stop_Time'] = pd.to_datetime(df['Stop_Time'], format='%I:%M %p')

# Preprocess the Duration column to add missing hour part (for entries in mm:ss format)
# If the duration is in mm:ss or mm:ss.microseconds format, add '00:' to make it hh:mm:ss.microseconds
# df['Duration'] = df['Duration'].apply(lambda x: '00:' + x if len(x.split(':')) == 2 else x)

# Convert Duration to timedelta
df['Duration'] = pd.to_timedelta(df['Duration'])

# To check data info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               50 non-null     datetime64[ns]
 1   Route_Direction    50 non-null     category
 2   Mode_of_Transport  50 non-null     category
 3   Segment            50 non-null     category
 4   Start_Time         49 non-null     datetime64[ns]
 5   Stop_Time          49 non-null     datetime64[ns]
 6   Duration           50 non-null     timedelta64[ns]
dtypes: category(3), datetime64[ns](3), timedelta64[ns](1)
memory usage: 2.4 KB
None

# Shape and Size of DataFrame

In [70]:
# Number of dimensions
# df.ndim

# Number of rows and columns
# df.shape

# Total number of elements
df.size

350